#content p{
  margin:0.75em 0;
}
#content .metabio-section-header {
  border-bottom:1px solid #aaa;margin:1em 0;padding:0;
}
#content .metabio-section-header h2 {
  border-bottom:2px solid #bbb;margin:0px;;width:20em;padding:0px;
}
#content .metabio-field-header {
  font-weight:bold;
  margin-right:5px;
}
#content .metabio-subsection-heading {
}

#content .metabio-contact{
}

#content .metabio-contact ul{
  margin:0;
  padding:0;
}

#content .metabio-contact ul li{
  list-style-type:none;
}

#content dl.metabio-definitions {
}

#content dl.metabio-definitions dt {
  font-weight:bold;
}

#content dl.metabio-definitions dd {
  margin-bottom:1em;
}

#metabio-node-form label{
  font-size:100%;
}

#metabio-node-form {
  font-family: verdana, arial;
}

#metabio-node-form h4{
  font-size:90%;
  font-weight:normal;
  color:#4d4d4d;
}

#metabio-node-form h3{
  font-size:100%;
  font-weight:bold;
}

#content #metabio-node-form h2{
  font-size:120%;
  font-weight:bold;
  margin-top:0;
  margin-bottom:20px;
}

#edit-data-holder-contact .fieldset-wrapper{
  margin-top:25px;
}

#inputcoords{
  width:300px;
  height:200px;
  margin-left:0px;
  border: 3px solid #ccc;
  display:block;
}
#map{
  width: 700px;
  height: 500px;
  overflow:visible;
}
#inputcoordsbut{
  display:block;
}
#coorderror{
  font-size:large;
  color:red;
  display:none;
  margin:1em 0;
}

#coorderror span{
  display:block;
}

#tagstbl, #taxotbl {
  width:300px;  
}

#metabio-node-form .vertical-tabs .form-type-textfield input {
  width: auto; /* See: http://drupal.org/node/1143712#comment-4697172 */
}

#metabio-node-form .form-textarea-wrapper{
  max-width:700px;
}

#edit-data-holder-contact input{
  margin-bottom:0px;
}

#edit-data-holder-contact {
  width:360px;
  background:#f2f2f2;
}

#edit-data-holder-contact .form-item {
  padding:0px;
  margin-bottom:3px;
}

#metabio-node-form .form-type-checkbox {
  padding:0px;
  margin-bottom:0px;
  margin-top:1px;
}

#metabio-node-form .fieldset-legend{
  font-size:15px;
}

div[class$="-other"]{
  margin-top:-15px !important;
  padding-top:0px !important;
}

.metabox{
  background:#f2f2f2;
  padding:15px;
  border-radius:15px;
}

#number_results{
  padding-top:20px;
  font-size:large;
  font-weight:bold;
  color:#FF9E45;
}

#map img {
max-width: none;
}