#content .metabio-section-header {
  border-bottom:1px solid #aaa;margin-top:1em;padding:0;
}
#content .metabio-section-header h2 {
  border-bottom:2px solid #bbb;margin:0;width:20em;padding:0;
}
#content span.metabio-field-header {
  font-weight:bold;
}
#content .metabio-subsection-heading {
}

#content .metabio-contact{
}

.node-metabio-form label{
  font-size:small;
}
#inputcoords{
  width:300px;
  height:200px;
  margin-left:0px;
  border: 3px solid #ccc;
  display:block;
}
#map{
  width: 700px;
  height: 500px;
  overflow:visible;
}
#inputcoordsbut{
  display:block;
}
#coorderror{
  font-size:large;
  color:red;
  display:none;
  margin:1em 0;
}

#coorderror span{
  display:block;
}

#tagstbl, #taxotbl {
  width:300px;  
}

#metabio-node-form .vertical-tabs .form-type-textfield input {
  width: auto; /* See: http://drupal.org/node/1143712#comment-4697172 */
}

#metabio-node-form .form-textarea-wrapper{
  max-width:700px;
}

#edit-data-holder-contact input{
  margin-bottom:0px;
}

#edit-data-holder-contact {
  width:360px;
  background:#f2f2f2;
}

#edit-data-holder-contact .form-item {
  padding:0px;
  margin-bottom:3px;
}

#metabio-node-form .form-type-checkbox {
  padding:0px;
  margin-bottom:3px;
}